---
import Page from "../layouts/Page.astro";
---

<Page title="404">
	<div>
		<img src="/404.svg" width="378" height="121" />
		<p>You might've landed on the wrong page, pal.</p>
	</div>
	<a href="/" transition:name="link" class="button">HOME</a>
</Page>
<style>
	div {
		margin: 50px;
		text-align: center;
	}

	img {
		max-width: calc(100% - 40px);
	}
</style>