---
import Page from "../layouts/Page.astro";
---

<Page title="404">
	<img src="/404.svg" />
	<p>You might've landed on the wrong page, pal.</p>
	<button class="button">Return Home</button>
</Page>
<style>
	img {
		width: 600px;
		padding: 20px;
	}
</style>