---
import Page from "../layouts/Page.astro";
import { Image } from "astro:assets";
---

<Page title="Credits">
    <Image src="/grid_calculator.svg" alt="Grid Calculator Logo" width="400" height="45" transition:name="logo" id="title" />
    <div>
        <h1>Poorly built by:</h1>
        <div class="person">
            <a href="https://theannoying.dev" target="_blank">TheAnnoying</a>
            <p>main implementation</p>
        </div>
    </div>
    <div>
        <h1>A lot of help from:</h1>
        <div class="person">
            <a href="https://ewanhowell.com" target="_blank">Ewan Howell</a>
            <p>help with old grid calculator</p>
        </div>
        <div class="person">
            <a href="https://xylight.dev" target="_blank">Xylight</a>
            <p>helped with svelte code</p>
        </div>
    </div>
    <div>
        <h1>Feedback over at:</h1>
        <div class="person">
            <a href="https://ewanhowell.com" target="_blank">Minecraft Titles</a>
            <p>lovely community, i like <img src="/thumbsup.png" alt="Thumbsup emoji" style="display: inline-block;" width="15" /></p>
        </div>
    </div>
</Page>
<style>
    #title {
        position: absolute;
        top: 20px;
    }
    div {
        text-align: center;
        padding: 25px;
    }

    .person {
        padding: 5px;
    }

    h1 {
        font-family: "minecraft/five-bold";
        text-shadow: 0 5px 0 black;
        font-size: 30px;
        line-height: 36px;
    }
    a {
        font-family: "minecraft/seven";
        font-weight: bolder;
        font-size: 20px;
        line-height: 28px;
    }
    p {
        color: gray;
        font-family: "minecraft/seven";
        font-style: italic;
    }

    @font-face {
        font-family: "minecraft/seven";
        src: url("/fonts/minecraft/seven.ttf");
    }
    @font-face {
        font-family: "minecraft/five-bold";
        src: url("/fonts/minecraft/five-bold.ttf");
    }
</style>