---
import Page from "../layouts/Page.astro";

import Input from "../components/Input.svelte";
import FontSelect from "../components/FontCategorySelect.svelte";
import Multiplier from "../components/Multiplier.svelte";
import Result from "../components/Result.svelte";
---

<Page title="Grid Calculator">
	<img src="/grid_calculator.svg" alt="Grid Calculator Logo" width="800" height="90" />
	<div>
		<Input client:visible />
		<FontSelect client:visible />
	</div>
	<Multiplier client:visible />
	<Result client:visible />
	<a href="/about" transition:name="link">About</a>
</Page>
<style>
	img {
		margin: 50px;
		max-width: calc(100% - 40px);
	}

	div {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 10px;
		margin-bottom: 5px;
	}
	
	a {
		font-family: "minecraft/five-bold";
		margin-top: 30px;
	}

	@media (max-width: 640px) {
		img {
			margin: 0;
		}
		
		div {
			flex-direction: column;
		}
	}
</style>