---
import { ViewTransitions } from "astro:transitions";
const { title } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<title>{title}</title>

		<meta content="Grid Calculator" property="og:title" />
		<meta content="Figure out the grid dimensions for your Minecraft logos in Adobe Illustrator" property="og:description" />
		<meta name="description" content="Figure out the grid dimensions for your Minecraft logos in Adobe Illustrator" />
		<meta content="https://grid-calculator.theannoying.dev/favicon.png" property="og:image" />
		<meta content="#f8a13f" name="theme-color" />
		<ViewTransitions />
	</head>
	<body>
		<slot />
		<a href="https://github.com/TheAnnoying/grid-calculator-v2" target="_blank" id="github-link">Source code on GitHub</a>
	</body>
</html>
<style is:global>
	:root {
		color-scheme: dark;
	}

	body {
		margin: 0;
		display: flex;
		flex-direction: column;
		min-height: 100vh;
		justify-content: center;
		align-items: center;
		background-image: url("/background.png");
		background-size: cover;
		background-position: 50% 50%;
		font-family: Arial, Helvetica, sans-serif;
	}

	.button {
		user-select: none;
		border-image-source: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAMElEQVQImWP8//8/Q9L5kv8MDAyMjKbVjv+5hPgYfr79ysDEwMDA+PT0AwYGBgZGADO+DS6ouzDJAAAAAElFTkSuQmCC");
		border-image-repeat: stretch stretch;
		border-image-slice: 1 1 1 1 fill;
		border-image-width: 5px 5px 5px 5px;
		background-color: transparent;
		color: #FFF;
		text-shadow: 0 3px #285130;
		font-family: "minecraft/five-bold";
		text-decoration: none;
		filter: drop-shadow(7px 7px #0004);
		font-size: 1.5rem;
		padding: 5px 50px;
		border-radius: 0;
		margin: 5px;
	}

	.button-selected,
	.button:focus-visible {
		border-image-source: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIklEQVQImU3JMQEAIBAAId5kRjCZlc9VVqaCMAvte6D55wHuGwsbp2XuGAAAAABJRU5ErkJggg==");
		outline: 0;
	}

	.button:active {
		filter: brightness(.7);
		transform: translateY(3px);
	}

	.button:hover {
		filter: brightness(1.1) drop-shadow(7px 7px #0004);
	}

	.button-gray {
		filter: grayscale(1) drop-shadow(7px 7px #0004);
	}

	.button-gray:hover {
		filter: grayscale(1) drop-shadow(7px 7px #0004) brightness(1.1);
	}

	.button-gray:active {
		filter: grayscale(1) drop-shadow(7px 7px #0004) brightness(.7);
	}

	.button-red {
		filter: hue-rotate(225deg) drop-shadow(7px 7px #0004);
	}

	.button-red:hover {
		filter: hue-rotate(225deg) drop-shadow(7px 7px #0004) brightness(1.1);
	}

	.button-red:active {
		filter: hue-rotate(225deg) drop-shadow(7px 7px #0004) brightness(.7);
	}

	.dialog-close {
		display: block;
		position: absolute;
		top: 7px;
		right: 7px;
		background-color: transparent;
		padding: 0;
		border: 0;
		width: 20px;
		height: 20px;
	}

	h1, p, a {
		margin: 0;
		color: white;
	}

	dialog {
		padding: 50px;
		border-image-slice: 8 8 8 8 fill;
		border-image-width: 40px;
		border-image-repeat: stretch stretch;
		background-color: transparent;
		border-image-source: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAl0lEQVQ4jbVUMQ6AIAy8Gh6ggy6aEFf//xZX40vqBGlJi4ngTZTS3tEWiJkxLRujDUTjvLYmAQCEtNjjoRzXfar9ZHsYymAZsMcj75VE1UQtCNKQrG8K3ETWlboosuA1BABy+7+okDHdiq0GUkr31HlnVI3KIfRgkaga1YLe/O5kW6zSV/r/n+zEbD1a65rdvpEBAHXIQw9r0VMscJkM7wAAAABJRU5ErkJggg==");
		image-rendering: pixelated;
	}

	dialog h1 {
		font-family: "minecraft/five-bold";
	}

	#github-link {
		position: fixed;
		bottom: 0;
		padding: 15px 0;
		color: #858B89;
		font-size: 14px;
		text-decoration-line: underline;
		text-underline-offset: 4px;
		text-align: center;
	}

	#github-link:hover {
		color: white;
	}

	.disabled {
		cursor: not-allowed;
        opacity: 30%;
        pointer-events: none;
    }

	.data {
		padding: 15px;
		width: 400px;
		outline: 5px solid #4143519d;
		background-color: #16202d9d;
		display: flex;
		flex-direction: column;
	}

	.data p {
		color: #a2a4ad;
		font-size: 1.3rem;
	}

	.data span {
		font-size: 2rem;
		font-family: "patred/minecraft-ten-lowercase";
		text-shadow: 0 4px 0 black;
		margin: auto 0;
	}

	@media (max-width: 640px) {
		.data {
			width: auto;
		}
	}

	@font-face {
		font-family: "minecraft/five-bold";
		src: url("/fonts/minecraft/five-bold.ttf");
	}
</style>